/.idea/
/central/.idea/
/central/config/__pycache__/
/central/__pycache__/
/central/data/__pycache__/
/central/models/__pycache__/
/fed_poc_fedavg_nosecure/poc/admin/transfer/chestxcode/.idea/
/fed_poc_fedavg_nosecure/.idea/
/fed_poc_fedavg_nosecure/poc/server/transfer/chestxcode/.idea/
/fed_poc_fedavg_nosecure/poc/server/run_1/app_server/.idea/
/fed_poc_fedavg_nosecure/poc/site-1/run_1/app_site-1/.idea/
/fed_poc_fedavg_nosecure/poc/site-1/run_1/app_site-1/custom/configs/__pycache__/
/fed_poc_fedavg_nosecure/poc/site-1/run_1/app_site-1/custom/data/__pycache__/
/fed_poc_fedavg_nosecure/poc/server/
/fed_poc_fedavg_nosecure/poc/site-1/
/fed_poc_fedavg_nosecure/poc/site-2/
