/.idea/
/central/.idea/
/central/config/__pycache__/
/central/__pycache__/
/central/data/__pycache__/
/central/models/__pycache__/
/fed_poc_fedavg_nosecure/poc/admin/transfer/chestxcode/.idea/
/fed_poc_fedavg_nosecure/.idea/
/fed_poc_fedavg_nosecure/poc/server/
/fed_poc_fedavg_nosecure/poc/site-1/
/fed_poc_fedavg_nosecure/poc/site-2/
/fed_poc_fedavg_nosecure/poc/site-3/
/fed_poc_fedavg_nosecure/poc/site-4/
/fed_poc_fedavg_nosecure/poc/site-5/
/fed_poc_fedavg_nosecure/poc/site-6/
/fed_poc_fedavg_nosecure/poc/site-7/
/fed_poc_fedavg_nosecure/poc/site-8/
/config/__pycache__/
/__pycache__/
/models/__pycache__/
/data/__pycache__/
